@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}

/*
 Template string =  ``
 Interrogação = ?
 Barra reta = ||

*/
  
* {
font-family: 'Poppins', Helvetica, Arial, sans-serif; 
margin: 0;
padding: 0;
height: auto;
}

.text {
    font-weight: 300;
    font-size: 1.5rem;
}

.red {
    font-weight: 700;
    color: red;
}

.input {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 20px 0px;
    padding: 5px;
}

.btn {
    border-radius: 50px;
    margin: 10px;
    padding: 5px 20px;
    border: none;
    outline: none;
    background-color: #0092c3;

    font-size: 1.5rem;
    color: #fff;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}